@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #008000;
}

body {
  background-color: var(--foreground-rgb);
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
